* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    color: #f1f1f1;
    background: #111010;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.navbar {
    width: 100%;
    /* height: 88px; */
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    align-items: center;
}


.navbar img {
    width: 148px;
    height: 48px;
}

.navbar-button {
    width: 100%;
    height: auto;
    justify-content: end;
    display: flex;
}

.navbar button {
    background: #000;
    border-radius: calc(100px - 0.0625rem);
    border-width: 0.0625rem;
    border-style: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    font-weight: 500;
    width: 75.99px;
    height: 32px;
}

.navbar-button button:hover {
    background: #6c6666;
    font-weight: bolder;
}

.sec1-box {
    width: 100%;
    height: 536px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border: 2px solid #f1f1f1;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 72px;
}

.section-1 {
    padding: 0 48px;
    color: #f1f1f1;
    position: relative;
}

.sec1-box h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
    color: rgb(255, 255, 255);
    /* max-width: 36.625rem; */
    width: 600px;
}

.sec1-box h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 30px;
}

.section-2 #section-2-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.section-2-contectSection form {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    position: relative;
}

.input-box input {
    /* font-size: 1rem;
    line-height: 1.5;
    width: 370.38px;
    border: 0 solid transparent;
    width: 370.375px; */
    /* position: relative; */
    padding: 1.5rem 1rem 0.5rem;
    width: 370.375px;
    height: 56px;
    opacity: 1;
    border: 1px solid rgba(128, 128, 128, 0.7);
    background: rgb(26 25 25 / 53%);
    color: rgb(255, 255, 255);
    border-radius: 100px;
}

input:focus {
    outline: none;
    /* Remove default border */
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    /* Add a blue glow */
}

.input-box p {
    position: absolute;
    top: 19.8%;
    left: 2.5%;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 18px;
    text-decoration: none solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.section-2-Button button {
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 100px;
    Color: rgb(255, 255, 255);
    Cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    font-size: 24px;
    height: 56px;
    Padding: 12px 32px;
    Position: relative;
    text-align: center;
    user-select: none;
    Width: 201.625px;
    align-items: center;
}

.section-2-Button {
    position: relative;
}

#section-2-Button:hover {
    background-color: rgb(165, 8, 15);
    box-shadow: 0 0 5px 2px rgb(165, 8, 15, 0.5);
}

.section-2 {
    margin-bottom: 40px;
}

.container {
    max-width: 1104px;
    margin: auto;
}

.sec3-frame1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 40px;
    width: 1104px;
}

/* .sction-3-container {
    padding: 0 148px;
} */

.section-3-frame1-inputselectionbox {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    position: relative;
}

.section-3-frame1-inputselectionbox>.inputselect>form>select {
    width: 138px;
    height: 40px;
    /* appearance: none; */
    line-height: 1.5;
    background: transparent;
    border: 1px solid transparent;
    color: inherit;
    border-radius: 100px;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    padding: 8px 20px 8px 38px;
    background: rgba(22, 22, 22, 0.7);
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
}

.inputselect img {
    width: 28px;
    height: 27px;
}

#globe1 {
    position: absolute;
    pointer-events: none;
    right: 265px;
    top: 7px;
}

#globe2 {
    width: 37px;
    height: 36px;
    pointer-events: none;
    position: absolute;
    right: 98px;
    top: 1px;
}

select:focus {
    outline: none;
    /* Remove default border */
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    /* Add a blue glow */
}

/* Filters Section */
.filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filters button {
    background: #333;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.filters button:hover {
    background: #555;
}

/* Carousel Container */
.carousel-container {
    overflow-x: scroll;
    white-space: nowrap;
    /* Prevent content from touching the scrollbar */
    position: relative;
}

.carousel-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

/* Carousel */
.carousel {
    display: inline-flex;
    gap: 32px;
    height: 287.59px;
    align-items: center;
}

.card {
    position: relative;
    width: 131px;
    height: 262px;
    flex-shrink: 0;
    /* Prevent shrinking */
    display: inline-block;
}

.card .number {
    position: absolute;
    top: -11.9rem;
    left: 30px;
    z-index: 4;
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 72px;
    font-weight: 900;
    height: 72px;
    line-height: 72px;
}

/* .card .number.ten{
    top: -11.9rem;
    left: 64px;
} */
.card #ten {
    right: 35px;
    position: relative;
}

/* Arrows */
.sec3-frame2 {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(90 82 82 / 94%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 16rem;
    z-index: 2;
    height: 5rem;
    width: 1.5rem;
}

.arrow.left {
    left: -26px;

}

.arrow.right {
    right: -26px;

}

/* Make carousel scrollable with buttons using pure CSS */
.carousel-container {
    scroll-behavior: smooth;
    /* Smooth scrolling effect */
}

.card img {
    width: 100%;
    height: 262px;
    border-radius: 17px;
    /* padding: 12px 16px; */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Smooth effect */
    border-radius: 24px;
}

.card img:hover {
    transform: scale(1.1);
    /* Slightly increased zoom */
}

.section-4 {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.section-4 #h1-sec4 {
    padding-top: 12px;
    align-self: flex-start;
}

.content-boxes {
    height: 134px;
    width: 263px;
    position: relative;
    padding: 14px 16px 72px 16px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.04);
    border-width: 2px;
    border-style: solid;
}

.content-boxes h2 {
    justify-content: flex-start;
    display: flex;
    font-family: Segoe UI Semibold;
    font-size: 18px;
    font-weight: 500;
}

.content-boxes svg {
    position: absolute;
    top: 78px;
    right: 10px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    width: 1104px;
}

.section-5 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 40px;
}

.boxes2 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-direction: column;
}

.questions {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.04);
    border-width: 2px;
    border-style: solid;
    padding: 24px;
    align-items: center;
    height: 72px;
}

.questions h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.section-6 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.section-6 button {
    background: rgb(229, 9, 20);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 16px;
    padding: 6px 32px;
    width: 131.75px;
    font-family: Segoe UI Semibold;
    border: none;
}

.section-6 h3 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

.section-7 {
    margin-top: 24px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 36px;
}

.section-7-frame1 p a {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 36px;
}

.section-7-frame2 ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 132px;
    justify-content: flex-start;
    width: 1108px;
    list-style-type: none;
}

.section-7-frame2 a {
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    width: 265px;
    height: 21px;
    display: flex;
}

.section-7-frame3 form {
    position: relative;
}

.section-7-frame3 form #svg-language-sign {
    position: absolute;
    top: 7px;
    right: 1076px;
    pointer-events: none;
}

.section-7-frame3 form #svg-arrow-down {
    position: absolute;
    top: 8px;
    right: 995px;
    pointer-events: none;
}

.section-7-frame3 select {
    background: rgba(0, 0, 0, 0);
    border-width: 1;
    color: rgb(255, 255, 255);
    height: 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    width: 121px;
    border-radius: 40px;
    appearance: none;
    padding: 6px 36px 6px 34px;
}