* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.section1 {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.sec1-content h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.sec1-content p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.sec1-content button {
    padding: 12px 30px;
    margin-top: 20px;
    background-color: #e50914;
    /* Netflix red */
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sec1-content button:hover {
    background-color: #f40612;
    /* Darker red on hover */
}