* {
    margin: 0;
    padding: 0;
}

.back {
    background-image: url(PK-en-20241118-TRIFECTA-perspective_ab4d2a47-03af-48bd-878f-474561f94bdc_large.jpg);
    filter: blur(13px);
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 0.16; */
    mask-image: linear-gradient(rgb(217, 217, 217) 78.62%, rgba(115, 115, 115, 0) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo img{
    width: 148px;
    height: 52px;
    position: relative;
}